# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs

relocate_natives/.venv/
relocate_natives/__pycache__/
relocate_natives/apple-codesign/
